<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dev.vladimirj.base.ui">

    <application android:theme="@style/Theme.TidalExample">
        <activity
            android:name=".HiltTestActivity"
            android:exported="false" />
    </application>
</manifest>
